<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046779221823-qr9jsrmod6dfeed9vdgen7qbqcjleh2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046779221823-qr9jsrmod6dfeed9vdgen7qbqcjleh2d</string>
	<key>API_KEY</key>
	<string>AIzaSyAB0KvzgBeS8ybJJw0d0sboHOAT5lAVFMA</string>
	<key>GCM_SENDER_ID</key>
	<string>1046779221823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.b3firstproject</string>
	<key>PROJECT_ID</key>
	<string>ynovb3-8517a</string>
	<key>STORAGE_BUCKET</key>
	<string>ynovb3-8517a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046779221823:ios:0a8d00b3cd9473dd17a58a</string>
</dict>
</plist>